html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  background: #091921;
  font-family: Orbitron, sans-serif;
  min-height: 80vh;
}

h1 {
  margin: 0 auto;
  color: #d1dae3;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

.wrapper {
  border: 2px solid red;
  width: 31.25rem;

  position: relative;
  margin: auto;

  margin-top: 4rem;
  border: 4px solid #091921;

  border-radius: 5px;
}

.screen {
  border: 2px solid #1e1f23;
  background: rgba(57, 58, 62, 0.8);
  height: 5.68rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  padding-right: 6px;
  font-size: 2.5rem;

  color: rgba(255, 255, 255, 0.8);
}

.screen div {
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.button {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-around;
  align-items: stretch;
}

button {
  outline: none;
  border: none;
  background: #091921;
  width: 7.56rem;
  height: 5.68rem;
  font-size: 2.5rem;
  box-shadow: inset 5px 5px 150px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.01),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 100px rgba(255, 255, 255, 0.1);
  font-family: Orbitron, sans-serif;
  color: #d1dae3;
}

button:hover {
  filter: brightness(300%);
}

.operators {
  background: #d1dae3;
  color: #091921;
}

button:active {
  transform: translate(0, 0.1rem);
  box-shadow: -1px 0 3px 0 rgba(255, 255, 255, 0.65);
}

.symbols:hover {
  filter: brightness(125%);
}

.upper-row,
.pos-neg,
.decimal {
  color: #ff785f;
  background: #1d282d;
}

footer {
  color: white;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 64%;
  }
}
